[Unit]
Description=Optimizer service
After=network.target

[Service]
ExecStart=/usr/bin/python3  optimizer.py
WorkingDirectory=/home/pi/code/watio
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target